/* ================== */
/* Main Configuration */
/* ================== */

:root {

    /* main setting */
    --main-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --dark-backgourd-color: #1f2937;
    --call-to-action-color: #3882f6;

    /* hero main text */
    --hero-main-text-size: 3em;
    --hero-main-text-color: #f9faf8;
    --hero-main-text-weight: 900;

    /* hero secondary text */
    --hero-secondary-text-size: 18px;
    --hero-secondary-text-color: #e5e5eb;

    /* hero logo text */
    --hero-logo-text-size: 1.5em;
    --hero-logo-text-color: #f9faf8;

    /* information header text */
    --information-header-text-size: 36px;
    --information-header-text-color: #1f2937;
    --information-header-text-weight: 900; 

    /* quote section */
    --quote-section-background-color: #e5e7eb;
    /* quote text */
    --quote-text-size: 36px;
    --quote-text-color: #1f2937;
    --quote-text-color-weight: 300;


}


* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
body {
    font-family: var(--main-font-family);
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}                

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}


/* =========================== */
/* Specific Styles By Sections */
/* =========================== */

/* ------------ */
/* Hero Section */
/* ------------ */

/* hero section configuration */
.hero-container {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-backgourd-color);
    min-height: 100vh;
}

/* nav-bar */
.nav-bar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 2em;
}

.branding {
    display: flex;
    align-items: center;
    font-size: var(--hero-logo-text-size);
    color: var(--hero-logo-text-color);
}

.logo-image {
    flex: 1 1 100px;
    width: 100px; 
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    border-radius: 50%;
    margin-left: 0.5em;
}


.nav-bar ul {
    gap: 2em;
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
}



/* hero content */

.hero-content{
    display: flex;
    padding: 2em;
    max-width: 70em;
    gap: 2rem;
    align-self: center;
    flex-wrap: wrap;
}

.text-container {
    flex: 1 1 300px; 
}

.hero-content .main-text {
    font-size: var(--hero-main-text-size);
    color: var(--hero-main-text-color);
    font-weight: var(--hero-main-text-weight);
    line-height: 1em;
    margin-bottom: 1em;
}

.hero-content .secondary-text {
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
    margin-bottom: 2em;
}

.hero-content .hero-button {
    display: block;
    justify-self: center;
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
    background-color: var(--call-to-action-color);
    padding: 1em;
    border: none;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.hero-content .hero-button:hover {
    transform: scale(1.1);
    filter: brightness(115%)
}


.yawn-image {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yawn-image img {
    max-width: 100%;
    height: auto;      
    transition: 1.5s ease-in-out;
}
.yawn-image img:hover {
    transform:skewY(10deg) ;
}

/* ------------ */
/* Information Section */
/* ------------ */

/* containers */

.info-section {
    align-items: center;
    text-align: center;
}

.items-container {
    display: flex;
    flex: 1;
    align-self: stretch;
    margin: 3em;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.info-item {
    flex: 1;
    margin-bottom: 30px;
    justify-items: center;
}



/* specific styles */
.info-section h1 {
    margin: 1em;
    font-size: var(--information-header-text-size);
    color: var(--information-header-text-color);
    font-weight: var(--information-header-text-weight);
}

.example-image {
    width:200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 20%;
    transition: 0.5s ease-in-out;
}

.example-image:hover {
    transform: scale(10%);
}

.red {
    background-color: rgba(255, 0, 0, 0.8);
}

.green {
    background-color: rgb(0, 128, 0, 0.8);
}

.yellow {
    background-color: rgb(255, 255, 0, 0.8);
}


.blue {   
    background-color: rgb(0, 0, 255, 0.8);
}
/* responsivness */

@media (max-width: 600px) {
    .branding {
        flex-direction: column;
    }
}